@charset "UTF-8";
/*Сброс*/
*
{
    box-sizing : border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp, small,
strike, strong, sub, sup, tt, var, b, i,
dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer,
header, hgroup, nav, output, ruby, section,
time, mark, audio, video
{
    margin          : 0;
    padding         : 0;
    border          : 0;
    font-size       : 100%;
    vertical-align  : baseline;
    text-decoration : none;
}

a:active, a:focus
{
    outline : none;
}

input, textarea
{
    outline : none;
}

input:active, textarea:active
{
    outline : none;
}

:focus
{
    outline : none;
}

textarea
{
    resize : none;
}

textarea
{
    resize : vertical;
}

textarea
{
    resize : horizontal;
}

button, button:active, button:focus,
input, input:active, input:focus
{
    outline : none;
}

ol, ul
{
    list-style : none;
}

input[type=text]::-ms-clear
{
    display : none;
    width   : 0;
    height  : 0;
}

input[type=text]::-ms-reveal
{
    display : none;
    width   : 0;
    height  : 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration
{
    display : none;
}

::-webkit-scrollbar
{
    width  : 3px;
    height : 3px;
}

::-webkit-scrollbar-button
{
    background-color : #939393;;
}

::-webkit-scrollbar-track
{
    background-color : #999;
}

::-webkit-scrollbar-track-piece
{
    background-color : #fff;
}

::-webkit-scrollbar-thumb
{
    height           : 50px;
    background-color : #939393;;
    border-radius    : 3px;
}

::-webkit-scrollbar-corner
{
    background-color : #999;
}

::-webkit-resizer
{
    background-color : #939393;;
}

/*сетка*/
.page
{
    max-width  : 1920px;
    width      : 100%;
    box-sizing : border-box;
    overflow-x : hidden;
}

.container
{
    max-width  : 1440px;
    padding    : 15px;
    box-sizing : border-box;
}

header
{
    height : 125px;
    width  : 100%;
}

/*SHARED*/
.nav_l .tab_vision, .tab_vision
{
    display : none;
}

/*____________________________________________*/


/*HEADER*/
.humburger
{
    display : none;
}

.mobileHat
{
    display : none;
}

.header_line
{
    width           : 100%;
    height          : 40px;
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    background      : rgb(52, 194, 219);
}

.menu
{
    width           : 100%;
    height          : 100%;
    max-width       : 1440px;
    margin          : 0 auto;
    padding         : 0 15px;
    display         : flex;
    justify-content : space-between;
}

.menu_l, .menu_r
{
    display     : flex;
    align-items : center;
}

.menu_l li, .menu_r li
{
    margin-right : 66px;
    font-family  : Gilroy-Bold, serif;
    font-size    : 12px;
}

.menu_r li:nth-of-type(2)
{
    margin : 0;
}

.header_line a
{
    color : rgb(51, 51, 51);
}

.header_menu
{
    width       : 100%;
    max-width   : 1440px;
    margin      : 0 auto;
    height      : 83px;
    display     : flex;
    align-items : center;
    padding     : 0 15px 0 73px;
}

.header_menu ul
{
    display     : flex;
    align-items : center;
    width       : 100%;
}

.header_menu ul li
{
    font-family : Gilroy, serif;
    font-size   : 12px;
}

.header_menu ul li:nth-of-type(2)
{
    display : flex;
    padding : 0 0 0 108px;
}

.header_menu ul li:nth-of-type(3)
{
    margin : 0 auto;
}

/*	=	Select */
.header_menu .select
{
    position : relative;
}

.select a, .select_two a, .select_three a
{
    text-decoration : none;
}

.slct, .slct_two, .slct_three, .slct_four, .slct_five, .slct_six
{
    display          : flex;
    align-items      : center;
    padding-left     : 23px;
    font-family      : Gilroy, serif;
    color            : rgb(51, 51, 51);
    /*
    Супер финт обрезаем текст
    чтобы не вылезал за рамку
    */
    overflow         : hidden;
    white-space      : nowrap;
    text-overflow    : ellipsis;
    -o-text-overflow : ellipsis;
}

.header_menu ul li .slct span
{
    font-size     : 12px;
    border-bottom : 1px solid rgb(51, 51, 51);
}

.slct img, .slct_two img, .slct_three img, .slct_four img, .slct_five img, .slct_six img
{
    position : relative;
}

.drop, .drop_two, .drop_three, .drop_four, .drop_five, .drop_six
{
    z-index    : 10;
    margin     : 0;
    padding    : 0 21px 0 23px;
    display    : none;
    position   : absolute;
    width      : 100%;
    background : #fff;
}

.drop
{
    background : transparent;
}

.header_menu .drop
{
    display : none;
}

.header_menu .drop li:nth-of-type(2),
.header_menu .drop li:nth-last-child(-n+1)
{
    padding : 10px 15px;
}

.drop li, .drop_two li, .drop_three li, .drop_four li, .drop_five li, .drop_six li
{
    display       : flex;
    align-items   : center;
    width         : 100%;
    list-style    : none;
    border-bottom : 1px solid rgb(51, 51, 51);
    font-family   : Gilroy, serif;
    font-size     : 12px;
    cursor        : pointer;
    text-align    : left;
    z-index       : 9;
    border-right  : none;
}

.drop li
{
    padding    : 10px 15px;
    background : white;
}

.left_bar_second .drop li, .left_bar_second .drop_two li, .left_bar_second .drop_three li, .left_bar_second .drop_four li, .left_bar_second .drop_five li, .left_bar_second .drop_six li,
.left_bar_second .drop li a, .left_bar_second .drop_two li a, .left_bar_second .drop_three li a, .left_bar_second .drop_four li a, .left_bar_second .drop_five li a, .left_bar_second .drop_six li a
{
    border-right : none;
    border-left  : none;
}

.drop li:hover, .drop_two li:hover, .drop_three li:hover, .drop_four li:hover, .drop_five li:hover, .drop_six li:hover
{
    background-color : #e8e8e8;
}

.slct a, .slct_two a, .slct_three a, .slct_four a, .slct_five a, .slct_six a
{
    display     : flex;
    align-items : center;
    width       : 100%;
    height      : 100%;
    position    : relative;
}

.header_menu ul li:nth-of-type(2)
{
    position      : relative;
    padding-right : 20px;
}

.select_header .arrow_one
{
    position     : absolute;
    top          : calc(50% - 8px);
    right        : 0px;
    width        : 20px;
    height       : 6px;
    padding-left : 9px;
}

.select_header .href_active_one
{
    right     : -10px;
    transform : rotate(180deg);
}

.href_active .arrow
{
    transform : rotate(180deg);
}

.header_menu ul li a
{
    display     : flex;
    align-items : center;
    font-size   : 12px;
    color       : rgb(1, 0, 0);
}

.header_menu ul li a p
{
    padding-left : 7px;
}

.header_menu ul li:nth-child(-n+3) a
{
    color : rgb(51, 51, 51);
}

.header_menu ul li:nth-child(4)
{
    margin-left : auto;
}

.header_menu ul li:nth-last-child(-n+3)
{
    padding-right : 22px;
}

.header_menu ul li:nth-last-child(-n+1)
{
    padding : 0;
}

.header_menu ul li .bag_quanity
{
    width           : 21px;
    height          : 21px;
    padding         : 2px 0 0 0;
    margin-left     : 8px;
    display         : flex;
    justify-content : center;
    align-items     : center;
    border-radius   : 50%;
    background      : rgb(51, 51, 51);
    color           : white;
}

/*HEADER END*/
/*____________________________________________*/


/*FOOTER*/
footer
{
    width : 100%;
}

.line_footer
{
    width            : 100%;
    height           : 14px;
    background-color : rgb(52, 194, 219);
}

.footer
{
    width            : 100%;
    padding          : 21px 0 41px 0;
    background-image : linear-gradient(to top, rgb(9, 93, 108), rgb(27, 169, 194));
}

.footer_main
{
    width     : 100%;
    max-width : 1440px;
    padding   : 0 15px;
    margin    : 0 auto;
    display   : flex;
}

.footer_main ul
{
    width     : 100%;
    flex-wrap : nowrap;
}

.footer_main ul li
{
    padding-top : 23px;
    font-family : Gilroy, serif;
    font-size   : 12px;
}

.footer_main ul li:nth-of-type(1)
{
    padding     : 0 0 6px 0;
    font-family : Gilroy-Bold, serif;
    font-size   : 18px;
    color       : rgb(51, 51, 51);
}

.footer_main ul li a
{
    color : rgb(51, 51, 51);
}

.footer_main ul:nth-of-type(4) li
{
    display         : flex;
    align-items     : center;
    justify-content : center;
    box-sizing      : border-box;
}

.footer_main ul:nth-of-type(5) li
{
    padding-left : 50px;
}

.footer_main ul:nth-of-type(4) li:nth-of-type(2)
{
    padding-top : 13px;
}

.footer_main ul:nth-of-type(4) li:nth-of-type(3)
{
    padding-top : 44px;
}

.social a
{
    margin-left : 25px;
}

.line_footer_bottom
{
    height           : 15px;
    box-shadow       : 0 14px 20px 0 rgb(0, 0, 0);
    background-color : rgb(52, 194, 219);
}

/*FOOTER END*/
/*____________________________________________*/


/*INDEX for Aquacity*/
/*left_bar */
.left_bar
{
    position  : relative;
    width     : 100%;
    height    : 100%;
    max-width : 231px;
}

.left_bar_first li
{
    width       : 100%;
    height      : 41px;
    padding     : 0 18px 0 11px;
    margin      : 0 0 7px 0;
    display     : flex;
    align-items : center;
    border      : solid 1px rgb(51, 51, 51);
    font-family : Gilroy, serif;
    color       : rgb(51, 51, 51);
}

.left_bar_first li
{
    font-size : 13px;
}

.left_bar_first .had_filtr
{
    height           : 50px;
    padding          : 0 7px 0 12px;
    margin           : 0 0 10px 0;
    font-family      : Gilroy-Bold, serif;
    font-size        : 14px;
    color            : white;
    background-color : rgb(254, 51, 54);
    border           : none;
}

.left_bar_first #inSize li:nth-of-type(1)
{
    padding : 0;
}

.left_bar_first .had_filtr img
{
    padding-right : 9px;
}

.left_bar_first #inSize li:nth-of-type(1)
{
    height : auto;
}

.left_bar_first .switch_off
{
    width            : 38px;
    height           : 21px;
    padding          : 0 7px;
    margin-left      : auto;
    display          : flex;
    align-items      : center;
    justify-content  : flex-start;
    border-radius    : 10px;
    background-color : rgb(255, 255, 255);
}

.left_bar_first .switch_off .by_car
{
    display : none;
}

.left_bar_first .switch_off span
{
    width            : 13px;
    height           : 13px;
    border-radius    : 50%;
    background-color : rgb(254, 51, 54);
}

.left_bar_first .switch_on
{
    justify-content : flex-end;
}

.inSize_no .byCar_view
{
    display : none;
}

.in_size .inSize_view
{
    display : none;
}

.in_size .byCar_view
{
    display : block;
}

.in_size .byCar_one
{
    height  : auto;
    padding : 0;
}

/*.byCar_one .slct_two {*/
/*    padding : 0;*/
/*}*/
.second_txt
{
    display : none;
}

.change_text p:nth-of-type(1)
{
    display : none;

}

.change_text p.second_txt
{
    display : block;

}

.left_bar_first .switch_on .by_car
{
    display : block;
}

.left_bar_first li:nth-of-type(2) form
{
    width : 100%;
}

.slct_two, .drop_two
{
    position : relative;
    padding  : 0;
}

.slct_two
{
    height  : 41px;
    padding : 0 18px 0 11px;
}

.left_bar_first .drop_two li:nth-of-type(1)
{
    margin      : 0;
    background  : transparent;
    font-family : Gilroy, serif;
    border-top  : 1px solid rgb(51, 51, 51);
}

.slct_two img
{
    margin-left  : auto;
    padding-left : 0;
}

.drop_two li
{
    border     : none;
    padding    : 0 18px 0 11px;
    margin     : 0;
    border-top : 1px solid rgb(51, 51, 51);
}

.drop_two li a
{
    color : rgb(51, 51, 51);
}

.drop_two li:hover,
.left_bar_first .drop_two li:hover:nth-of-type(1)
{
    background-color : #e8e8e8;
}

.left_bar_first #inSize .drop_two li:nth-of-type(1)
{
    padding : 0 18px 0 11px;
    height  : 41px;
}

.row_p
{
    flex-wrap : nowrap;
    padding   : 0 15px;
}

.left_bar_first li input
{
    width       : 100%;
    height      : 100%;
    border      : none;
    font-family : Gilroy, serif;
    font-size   : 12px;
    color       : rgb(135, 135, 135);
}

.left_bar_first li input::-webkit-input-placeholder
{ /* Chrome/Opera/Safari */
    font-family : Gilroy, serif;
    font-size   : 12px;
rgb(51, 51, 51);
}

.left_bar_first li input::-moz-placeholder
{ /* Firefox 19+ */
    font-family : Gilroy, serif;
    font-size   : 12px;
rgb(51, 51, 51);
}

.left_bar_first li input:-ms-input-placeholder
{ /* IE 10+ */
    font-family : Gilroy, serif;
    font-size   : 12px;
rgb(51, 51, 51);
}

.left_bar_first li input:-moz-placeholder
{ /* Firefox 18- */
    font-family : Gilroy, serif;
    font-size   : 12px;
rgb(51, 51, 51);
}

.left_bar_second
{
    margin-bottom : 11px;
    border-bottom : solid 1px rgb(51, 51, 51);
}

.left_bar_second li
{
    display      : flex;
    align-items  : center;
    box-sizing   : border-box;
    border-left  : solid 1px rgb(51, 51, 51);
    border-right : solid 1px rgb(51, 51, 51);
}

.left_bar_second li a
{
    width       : 100%;
    height      : 44px;
    padding     : 0 13px;
    display     : flex;
    align-items : center;
    font-family : Gilroy, serif;
    font-size   : 14px;
    color       : rgb(51, 51, 51);
}

.left_bar_second .hat
{
    height      : 50px;
    padding     : 0 11px;
    border      : none;
    font-family : Gilroy-Bold, serif;
    font-size   : 18px;
    background  : rgb(254, 51, 54);
    color       : white;
}

.left_bar_second .hat img
{
    padding-right : 13px;
}

.slct_three, .drop_three, .slct_four, .drop_four, .slct_five, .drop_five, .slct_six, .drop_six
{
    position : relative;
    padding  : 0;
}

.left_bar_second li form,
.left_bar_first li form
{
    width : 100%;
}

.slct_three, .slct_four, .slct_five, .slct_six
{
    height          : 44px;
    justify-content : space-between;
    padding         : 0 18px 0 14px;
}

.drop_three li, .drop_four li, .drop_five li, .drop_six li
{
    border-bottom : none;
}

.drop_three li a, .slct_three, .drop_four li a, .slct_four, .drop_five li a, .slct_five, .drop_six li a, .slct_six
{
    font-family : Gilroy, serif;
    font-size   : 14px;
    color       : rgb(51, 51, 51);
}

.banner_first img
{
    width : 100%;
}

.banner_second
{
    width          : 100%;
    margin-top     : 9px;
    padding-bottom : 23px;
    border         : solid 1px rgb(51, 51, 51);
}

.banner_second li
{
    padding-top : 10px;
    text-align  : center;
}

.banner_second li p
{
    max-width   : 135px;
    margin      : 0 auto;
    padding-top : 6px;
    text-align  : center;
    font-family : Gilroy, serif;
    font-size   : 11px;
    color       : rgb(51, 51, 51);
}

.main_bar
{
    width        : calc(100% - 231px);
    padding-left : 10px;
}

.nav
{
    display : flex;
}

.nav_l
{
    width            : 100%;
    height           : 50px;
    padding          : 0 20px;
    display          : flex;
    align-items      : center;
    justify-content  : space-between;
    background-color : rgb(254, 51, 54);
}

.nav_l li
{
    width           : 100%;
    height          : 100%;
    position        : relative;
    display         : flex;
    align-items     : center;
    justify-content : center;
}

.nav_l a
{
    width           : 100%;
    height          : 100%;
    display         : inline-flex;
    align-items     : center;
    justify-content : center;
    font-family     : Gilroy-Bold, serif;
    font-size       : 16px;
    color           : rgb(255, 255, 255);
}

.nav_r
{
    display   : flex;
    width     : 100%;
    max-width : 294px;
}

.nav_r span
{
    display : inline-block;
}

.nav_l .dropdown,
.nav_l .dropdown_second,
.nav_l .dropdown_menu
{
    top              : 100%;
    width            : 231px;
    left             : -20px;
    padding          : 30px 26px 5px 26px;
    border-top       : none;
    box-shadow       : 0 0 10px 0 rgba(0, 0, 0, 0.3);
    background-color : rgb(255, 255, 255);
    z-index          : 2;
}

.dropdown, .dropdown_second, .dropdown_menu
{
    display  : none;
    position : absolute;
}

.nav_l .dropdown a,
.nav_l .dropdown_second a,
.nav_l .dropdown_menu a
{
    width           : 100%;
    padding         : 0 0 10px 0;
    display         : inline-flex;
    align-items     : center;
    justify-content : flex-start;
    font-size       : 14px;
    color           : rgb(51, 51, 51);
}

.nav_l .dropdown li:nth-last-of-type(1) a,
.nav_l .dropdown_second li:nth-last-of-type(1) a,
.nav_l .dropdown_menu li:nth-last-of-type(1) a
{
    border : none;
}


.nav_l .dropdown li:hover a,
.nav_l .dropdown_second li:hover a,
.nav_l .dropdown_menu li:hover a
{
    color : rgb(254, 51, 54);
}

.arrow_white,
.arrow_white_second
{
    margin-left : 4px;
    transform   : rotate(270deg);
}

.nav_hov:hover ~ .dropdown, .dropdown:hover,
.nav_hov_second:hover ~ .dropdown_second, .dropdown_second:hover,
.nav_hov_menu:hover ~ .dropdown_menu, .dropdown_menu:hover
{
    display : block;
}

.nav_hov:hover .arrow_white, ul.dropdown:hover .arrow_white,
.nav_hov_second:hover .arrow_white_second, ul.dropdown_second:hover .arrow_white_second
{
    transform : rotate(360deg);
}

.nav_r li
{
    width       : 100%;
    margin-left : 10px;
    border      : solid 2px rgb(254, 51, 54);
}

.nav_r a
{
    width           : 100%;
    height          : 100%;
    padding         : 0 17px;
    display         : flex;
    align-items     : center;
    justify-content : space-between;
    font-family     : Gilroy, serif;
    font-size       : 16px;
    color           : rgb(254, 51, 54)
}

.main_banners
{
    position    : relative;
    padding-top : 11px;
}

.main_banners img
{
    width : 100%;
}

.main_hits
{
    width     : calc(100% - 40px);
    max-width : 100%;
}

.main_hits
{
    position  : relative;
    max-width : 1130px;
    margin    : 0 auto;
}

.title
{
    margin-left : 20px;
    padding     : 22px 0;
    font-family : Gilroy-Bold, serif;
    font-size   : 24px;
    color       : rgb(51, 51, 51);
}

.navigation, .navigation_2, .navigation_3, .navigation_4, .navigation_5, .navigation_6, .navigation_7
{
    position        : absolute;
    top             : calc(50% - 12px);
    width           : 100%;
    display         : flex;
    justify-content : space-between;
    z-index         : 4;
}

.navigation_7
{
    top : calc(50% - 24px);
}

.owl-prev, .owl-next
{
    position : absolute;
    border   : none;
    padding  : 0;
}

.owl-next
{
    right : -25px;

}

.navigation_7 .owl-next, .navigation_7 .owl-prev
{
    background-image : url("../img/icons/arrow_slide_l.png");
    background-size  : cover;
    background-color : transparent;
    width            : 48px;
    height           : 48px;
    left             : 0;
    right            : 0;
}

.navigation_7 .owl-next
{
    background-image : url("../img/icons/arrow_slide_r.png");
    background-size  : cover;
    width            : 48px;
    height           : 48px;
    left             : auto;
    right            : 0;
}

.owl-prev
{
    left : -25px;
}

.navigation_4 .owl-prev
{
    left : -25px;
}

.navigation_4 .owl-next
{
    right   : 75px;
    z-index : 10;

}

.brands .item
{
    display     : flex;
    align-items : center;
    height      : 65px;
    margin      : 0 33px;
}

.item
{
    position : relative;
    padding  : 5px;
}

.item .good
{
    margin  : 0 auto;
    padding : 5px 10px 25px 10px;
}

.item .good:hover
{
    box-shadow : 0 0 5px 0 rgba(0, 0, 0, 0.2);
    z-index    : 5;
}

.item_img
{
    position        : relative;
    padding         : 15px 0;
    display         : flex;
    justify-content : center;
    max-height      : 176px;
}

.owl-carousel .owl-item .item_img img
{
    width      : auto;
    height     : 100%;
    max-height : 146px;
}

.sign
{
    position : absolute;
    top      : 10px;
    left     : -2px;
}

.sign_block
{
    position         : absolute;
    margin-top       : 7px;
    display          : none;
    width            : 104px;
    height           : 70px;
    padding          : 9px;
    border-radius    : 5px;
    background-color : rgb(255, 245, 155);
    font-family      : Gilroy-Bold, serif;
    font-size        : 12px;
    color            : rgb(0, 0, 0);
    z-index          : 2;
}

.sign_two
{
    top  : 50px;
    left : 1px;
}

.sign_two img
{
    max-width  : 24px;
    max-height : 31px;
}

.sign_three
{
    top : 95px;
}

.sign_four
{
    top : 140px;
}

.sign_five, .sign_seven
{
    left        : 100%;
    margin-left : -27px;
}

.sign_five img
{
    max-width  : 27px;
    max-height : 30px;
}

.sign_seven img
{
    max-width  : 30px;
    max-height : 30px;
}

.sign_six
{
    top         : 50px;
    left        : 100%;
    margin-left : -30px;
}

.sign_six img
{
    max-width  : 35px;
    max-height : 30px;
}

.sign_block span
{
    display     : inline-block;
    font-family : Gilroy, serif;
}

.sign_one:hover .sign_block_one,
.sign_two:hover .sign_block_two,
.sign_three:hover .sign_block_three,
.sign_four:hover .sign_block_four
{
    display : block;
}

.item_img img
{
    width : 100%;
}

.item_text
{
    padding-top : 23px;
}

.item_text p
{
    font-family : Gilroy-Bold, serif;
    font-size   : 14px;
    color       : rgb(80, 82, 83);
}

.item_text p:nth-of-type(2)
{
    padding     : 10px 0 9px 0;
    font-family : Gilroy, serif;
}

.item_text p:nth-of-type(2) span
{
    display : inline-block;
    padding : 10px 0 0 0;
}

.item_star, .stars
{
    display : flex;
}

.item_star
{
    justify-content : space-between;
}

.stars img
{
    max-width    : 15px;
    max-height   : 15px;
    margin-right : 1px;
    cursor       : pointer;
}

.stars span
{
    margin-left : 4px;
    font-family : Gilroy-Bold, serif;
    font-size   : 18px;
    color       : rgb(58, 58, 58)
}

.availability
{
    font-family : Gilroy, serif;
    font-size   : 14px;
    color       : rgb(4, 177, 0);
}

.avail_no
{
    display     : flex;
    align-items : center;
    font-size   : 12px;
    color       : rgb(255, 0, 18);
}

.item_price
{
    padding : 17px 0 22px 0;
}

.item_price p
{
    font-family : Gilroy, serif;
    font-size   : 24px;
    color       : rgb(58, 58, 58);
}

.item_button
{
    display     : flex;
    align-items : center;
}

.button
{
    width            : 103px;
    height           : 30px;
    display          : flex;
    align-items      : center;
    justify-content  : center;
    background-color : rgb(254, 51, 54);
    font-family      : OpenSans, serif;
    font-size        : 12px;
    color            : rgb(255, 255, 255);
}

.button:hover
{
    box-shadow : 0 0 5px 0 rgba(254, 51, 54, 0.4);
}

.item_button a:nth-of-type(2)
{
    margin : 0 7px 0 auto;
}

.item_button a img
{
    max-width  : 20px;
    max-height : 20px;
}

.main_hits_disks, .main_hits_view
{
    padding-top : 15px;
}

.brands
{
    width    : 100%;
    padding  : 38px 50px;
    position : relative;

}

/*INDEX END*/
/*____________________________________________*/


/*CATEGORIES*/
.breadcrumb
{
    display : flex;
    flex-wrap: wrap;
}

.breadcrumb li, .breadcrumb li a, .breadcrumb li span
{
    font-family : Gilroy, serif;
    font-size   : 10px;
    color       : rgb(51, 51, 51);
}
.breadcrumb li {
    padding-top : 5px;
}

.breadcrumb li span
{
    margin-right : 5px;
}

.title_second
{
    padding-top    : 0;
    padding-bottom : 0;
    padding-left   : 40px;
}

.category_bar
{
    flex           : 1;
    padding-left   : 15px;
    padding-bottom : 40px;
}

.had_category
{
    width           : 100%;
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    padding-bottom  : 25px;
}

.padding_none
{
    padding-top    : 0;
    padding-bottom : 0;
}

.select_category
{
    display : flex;
}

.select_category p
{
    padding       : 10px;
    border        : 1px solid rgb(200, 200, 200);
    border-right  : none;
    border-radius : 5px 0 0 5px;
    background    : rgb(238, 238, 238);
    font-family   : Gilroy, serif;
    font-size     : 16px;
    color         : rgb(51, 51, 51);
}

.select_category p:nth-of-type(2)
{
    padding          : 0;
    border-right     : 1px solid rgb(200, 200, 200);
    border-radius    : 0 5px 5px 0;
    padding-left     : 15px;
    background-color : white;
}

.select_category p select
{
    width             : 100%;
    height            : 100%;
    border            : none;
    webkit-appearance : none;
    -moz-appearance   : none;
    -ms-appearance    : none;
    appearance        : none;
    outline           : 0;
    cursor            : pointer;
    background        : white;
    font-family       : Gilroy, serif;
    font-size         : 16px;
    color             : rgb(51, 51, 51);
}

.categories
{
    display         : flex;
    flex-wrap       : wrap;
    align-items     : stretch;
    justify-content : space-between;
}

.categories .item_text p:nth-of-type(2) span
{
    display : block;
}

.categories .item
{
    width         : 25%;
    flex          : 0 0 25%;
    margin-bottom : 15px;
}

.categories .item .good
{
    padding : 15px;
}

.categories .item .good:hover
{
    box-shadow : 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

/*CATEGORIES END*/
/*____________________________________________*/


/*BASKET END*/
.basket
{
    width : 100%;
}

.basket .nav_l
{
    padding         : 0 30px;
    justify-content : flex-start;
}

.basket .nav_l a, .basket .nav_l li
{
    width : auto;
}

.basket .nav_l a
{
    padding : 0 15px;
}

.basket .nav_l li
{
    margin-right : 30px;
}

.basket .nav_l li:nth-last-of-type(1)
{
    margin-left  : auto;
    margin-right : 0;
}

.title_third
{
    padding     : 16px 0 20px 0;
    margin      : 0;
    font-family : Gilroy, serif;
    font-size   : 24px;
    color       : rgb(51, 51, 51);
}

.order
{
    width : 100%;
}

.order_table
{
    width         : 100%;
    border-top    : solid 1px rgb(51, 51, 51);
    border-bottom : solid 1px rgb(51, 51, 51);
    font-family   : Gilroy, serif;
    font-size     : 14px;
    color         : rgb(51, 51, 51);
}

.order_table .table,
.order_table .table .string
{
    width : 100%;
}

.order_table .table .string
{
    display       : flex;
    height        : 126px;
    border-bottom : 1px solid rgb(51, 51, 51);
}

.order_table .table .string:nth-last-of-type(1)
{
    border : none;
}

.order_table .table .string li
{
    width           : 100%;
    display         : flex;
    justify-content : center;
    align-items     : center;
    border-right    : solid 1px rgb(186, 186, 186);
}

.order_table .table .string li:nth-last-of-type(1)
{
    border : none;
}

.order_table .table .string:nth-of-type(1)
{
    height        : 35px;
    border-bottom : 2px solid rgb(51, 51, 51);
}

.order_table .table .string li:nth-of-type(3)
{
    min-width       : 487px;
    justify-content : flex-start;
    padding-left    : 46px;
}

.order_table .table .string li:nth-of-type(5)
{
    min-width : 110px;
}

.number
{
    display         : flex;
    justify-content : center;
    align-items     : center;
}

.number .minus, .number .plus
{
    font-family : Gilroy-Bold, serif;
    font-size   : 19px;
    color       : rgb(254, 51, 54);
}

.number p
{
    display         : flex;
    align-items     : center;
    justify-content : center;
    width           : 60px;
    margin          : 0 9px;
    text-align      : center;
    height          : 26px;
    border          : solid 1px rgb(254, 51, 54);
}

.number p span
{
    margin-top : 1px;
}

.number p input
{
    max-width : 20px;
    border: none;
}

.basket input[type=checkbox], input[type=radio]
{
    display : none;
}

.basket input[type=radio] + label:before
{
    display: flex;
    align-items: center;
    justify-content: center;
    content        : "";
    width          : 16px;
    height         : 16px;
    margin-right : 17px;
    box-shadow     : 0 0 3px 0 rgba(0, 0, 0, 0.23);
    border         : solid 1px rgb(99, 99, 99);
    border-radius  : 50%;
    display        : inline-block;
    font-size      : 20px;
    text-align     : center;
    vertical-align : middle;
    font-size      : 0;
    transition     : font-size ease .3s;
}

.basket input[type=radio]:checked + label:before
{
background: url("../img/icons/dot.png") no-repeat center;
}
.basket label {
    font-family: Gilroy, serif;
    font-size : 16px;
    color: rgb(51, 51, 51);
}
.basket input[type=checkbox] + label:before {
    content: " ";
    color: transparent;
    display: inline-block;
    border: solid 1px rgb(51, 51, 51);
    font-size: 20px;
    font-weight: 900;
    margin-right : 17px;
    height: 12px;
    width: 12px;
    text-align: center;
    vertical-align: middle;
    transition: color ease .3s;
}

.basket input[type=checkbox]:checked + label:before {
    background: url("../img/icons/checkbox.png") no-repeat center;
}
.order_data {
    padding-top : 22px;
    display: flex;
}
.data_l li {
    padding-bottom : 17px;
}
.data_l ul  {
    width : 50%;
}
.data_l .comments {
    width : 100%;
}
.data_l ul:nth-of-type(1) li:nth-last-of-type(1) {
    padding-top : 50px;
}
.data_l li:nth-last-of-type(1),
.data_l ul:nth-of-type(2) li:nth-last-of-type(1) p{
    max-width: 342px;
    font-family: Gilroy;
  font-size: 10px;
    color: rgb(51, 51, 51);
}
.data_l {
    display: flex;
    width : 66.6666%;
    justify-content: space-between;
}
.data_l li input::-webkit-input-placeholder
{ /* Chrome/Opera/Safari */
    font-family : Gilroy, serif;
    font-size   : 14px;
color: rgb(51, 51, 51);
}

.data_l li input::-moz-placeholder
{ /* Firefox 19+ */
    font-family : Gilroy, serif;
    font-size   : 14px;
color: rgb(51, 51, 51);
}

.data_l li input:-ms-input-placeholder
{ /* IE 10+ */
    font-family : Gilroy, serif;
    font-size   : 14px;
color: rgb(51, 51, 51);
}

.data_l li input:-moz-placeholder
{ /* Firefox 18- */
    font-family : Gilroy, serif;
    font-size   : 14px;
color: rgb(51, 51, 51);
}
.data_l li input {
    width : 100%;
    max-width: 352px;
    height : 41px;
    padding-left : 15px;
    border: solid 1px rgb(51, 51, 51);
    font-family : Gilroy, serif;
    font-size   : 14px;
color: rgb(51, 51, 51);
}
.data_l ul:nth-of-type(2) li p {
    padding-bottom : 10px;
    font-family : Gilroy, serif;
    font-size   : 14px;
    color: rgb(51, 51, 51);
}
.data_l ul:nth-of-type(2) li p span {
    color: rgb(254, 51, 54);
}
.data_l ul:nth-of-type(2) li {
    padding-bottom : 21px;
}
.data_l{
    flex-wrap: wrap;
}
.data_r {
    width : 33.3333%;
}
textarea {
    padding : 15px;
    width : 100%;
    max-width: 806px;
height: 96px;
  border: solid 1px rgb(51, 51, 51);
    resize: none;
    font-family : Gilroy, serif;
    font-size   : 14px;
    color: rgb(51, 51, 51);
}
.promo {
    display: flex;
}
.promo input{
    padding : 0 10px;
    margin-right : 7px;
    width: 231px;
  height: 40px;
  border: solid 1px rgb(51, 51, 51);
    font-family: Gilroy, serif;
  font-size: 14px;
    color: rgb(51, 51, 51);
}
.button_second {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 114px;
  height: 40px;
  border: solid 1px rgb(254, 51, 54);
    font-family: Gilroy, serif;
  font-size: 14px;
    color: rgb(254, 51, 54);
}
.data_r ul li {
    max-width: 352px;
    padding-bottom : 25px;
}
.data_r ul li label {
    color: rgb(99, 99, 99);
}
.data_r ul li:nth-of-type(2) {
    font-family: Gilroy, serif;
  font-size: 14px;
    color: rgb(51, 51, 51);
}
.data_r ul .color_g {
    padding-left : 19px;
    display: flex;
    justify-content: flex-end;
    font-family: Gilroy, serif;
  font-size: 12px;
    color: rgb(119, 119, 119);
}
.data_r ul li:nth-last-of-type(2) {
    font-family: Gilroy-Bold, serif;
    font-size : 24px;
    color: rgb(99, 99, 99);
}
.data_r ul li .button {
    width : 148px;
    height : 30px;
    text-transform: uppercase;
    font-family: OpenSansExtraBold, serif;
    font-size : 12px;
}
    .table_mob {
        display: none;
    }
/*BASKET END*/
/*____________________________________________*/
/*BASKET AUTORIZE*/
.autorize .data_l li{
    font-family: Gilroy, serif;
    font-size : 14px;
    color: rgb(51, 51, 51);
    padding-bottom : 50px;
}
.change_addres {
    font-family: Gilroy-Bold, serif;
    font-size : 12px;
    color: rgb(254, 51, 54);
    text-decoration: underline;
}
.data_l ul:nth-of-type(2) .discount_card span{
    font-family: Gilroy-Bold, serif;
    color: rgb(51, 51, 51);
}
.text_autorize {
    max-width: 410px;
    font-size : 10px;
}
.delivery_date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 350px;
}
.delivery_date select {
    width: 100%;
  height: 100%;
    padding-right : 10px;
    padding-left : 9px;
    background: transparent;
    border: none;
    text-align: center;
    ont-family: Gilroy, serif;
  font-size: 16px;
    color: rgb(103, 103, 103);
    z-index: 2;
}
.select_autorize {
    position : relative;
    width: 119px;
  height: 38px;
  border: solid 1px rgb(51, 51, 51);
}
.select_autorize img {
    position : absolute;
    top: calc(50% - 3px);
    right: 5px;
}
.autorize .data_l ul:nth-of-type(1) li:nth-last-of-type(1) {
    padding-top : 0;
}
/*BASKET AUTORIZE END*/
/*____________________________________________*/


/*CARD*/
.card {
    display: flex;
    width : 100%;
    position : relative;
}
.card_img {
    padding : 0 75px;
    position : relative;
}
.card_name {
    padding : 30px 0;
    font-family: Gilroy-Bold, serif;
    font-size : 36px;
    color: rgb(51, 51, 51);
}
.card_price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width : 100%;
    max-width: 670px;
}
.card_price li:nth-of-type(1), .card_price li:nth-of-type(3) {
    font-family: Gilroy, serif;
    font-size : 36px;
    color: rgb(51, 51, 51);
}
.card_price li:nth-of-type(3) {
    font-size : 24px;
}
.card_price .number input{
    margin : 0 7px;
    text-align: center;
    width: 60px;
  height: 26px;
  border: solid 1px rgb(254, 51, 54);
}
.card_button {
    width : 160px;
    height : 30px;
    font-family: OpenSansExtraBold, serif;
    text-transform: uppercase;
    font-size : 12px;
}
.card_data {
    padding-top : 45px;
    font-family: Gilroy, serif;
    font-size : 14px;
    color: rgb(51, 51, 51);
}
.card_data li {
    margin-bottom : 10px;
}
.card_signs {
    margin-left: auto;
}
.card_signs ul {
    height: 100%;
        display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
.card_signs ul li{
    display: flex;
    justify-content: center;
    padding-bottom : 31px;
}
.card_signs ul li:nth-last-of-type(1) {
    padding : 0;
}
.sign_card {
    position : absolute;
    top: 0;
    right: 0;
}
.sign_card_second {
    right: 100px;
}
.card_discount {
    width: 92px;
  height: 92px;
  background-color: rgb(255, 237, 11);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position : absolute;
    left: 70px;
    bottom: 60px;
    font-family: Gilroy-Bold, serif;
    font-size : 30px;
    color: rgb(51, 51, 51);
}
#tabs {
    width : 100%;
}
#tabs .tab {
    margin-right : 166px;
    display: inline-block;
    text-align: center;
    padding: 17px;
    cursor: pointer;
    position: relative;
    z-index:5;
    font-family: Gilroy, serif;
    font-size : 18px;
    color: rgb(138, 138, 138);
    text-transform: uppercase;
}
#tabs .tab span {
    display: none;
    position : absolute;
    bottom: -16px;
    left: 0px;
    width : 100%;
    height : 30px;
    background: white;
}
#tabs .tab:nth-of-type(5) {
    margin-right : 0;
}
#tabs .whiteborder span{
    display: block;
}
#tabs .whiteborder {
    position : relative;
   box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid #fff;
    border-radius: 3px 3px 0  0;
    font-family: Gilroy-Bold, serif;
    color: rgb(254, 51, 54);
}
#tabs .tabContent {
    width: 100%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    top: -2px;
    z-index:1;
    padding: 26px;
    font-family: Gilroy, serif;
    font-size : 12px;
    color: rgb(51, 51, 51);
}
#tabs .tabContent p span {
    display: block;
    line-height: 1.33;
}
#tabs .tabContent p span:nth-of-type(1) {
    font-family: Gilroy-Bold, serif;
}
#tabs .hide {
    display: none;
}
#tabs .show {
    display: block;
}
/*CARD END*/
/*____________________________________________*/