/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1400px)
{
    #tabs .tab {
        margin-right : 11%;
    }
}
@media only screen and (max-width : 1330px)
{
.card_price {
    max-width: 410px;
    flex-wrap: wrap;
    justify-content: flex-start;
}
    .card_price li:nth-of-type(2), .card_price li:nth-of-type(3) {
        margin-left : auto;
    }
    .card_price li:nth-of-type(4), .card_price li:nth-of-type(5) {
        padding-top : 20px;
    }
    .card_price li:nth-of-type(4) {
        margin-right: 30px;
    }
    .card_discount {
        bottom: 150px;
    }
    #tabs .tab {
        margin-right : 10%;
    }
}
@media only screen and (max-width : 1225px)
{
    .order_table .table .string li:nth-of-type(3)
    {
        min-width : 400px;
    }

    .data_l ul
    {
        width : 50%;
    }

    .data_l
    {
        width : 66.6666%;
    }

    .data_r
    {
        width : 33.3333%;
    }

    .data_r ul li
    {
        margin-left : auto;
    }
    .nav_l_long {
        width : calc(100% - 294px);
    }
    #tabs .tab {
        margin-right : 9%;
    }
}

@media only screen and (max-width : 1175px)
{
    .item_text p, .availability
    {
        font-size : 12px;
    }

    .item_text p:nth-of-type(1)
    {
        font-size : 14px;
    }

    .stars img
    {
        max-width  : 13px;
        max-height : 13px;
    }

    .stars span
    {
        font-size : 14px;
    }

    .header_menu ul li:nth-of-type(2)
    {
        padding-left : 70px;
    }
}

@media only screen and (max-width : 1140px)
{
    .order_table .table .string li:nth-of-type(3)
    {
        min-width    : 300px;
        padding-left : 15px;
    }

    .order_table .table .string li:nth-of-type(4)
    {
        max-width : 60px;
    }

    .order_table .table .string li:nth-of-type(2),
    .order_table .table .string li:nth-of-type(6)
    {
        max-width : 74px;
    }
}

@media only screen and (max-width : 1120px)
{
    .item_star
    {
        flex-direction : column;
    }

    .item_star, .stars
    {
        padding-bottom : 5px;
    }

    .button
    {
        width : 85px;

    }

    .owl-carousel .owl-item .item_img .sign_six img
    {
        width     : 100%;
        max-width : 28px;
    }

    .left_bar
    {
        max-width : 200px;
    }
.nav_l_long {
        width : calc(100% - 200px);
    }
    .main_bar
    {
        width : calc(100% - 200px);
    }

    .basket
    {
        width : 100%;
    }

    .left_bar_first .had_filtr
    {
        font-size : 12px;
        padding   : 0 7px;
    }

    .left_bar_first li:nth-of-type(1) img
    {
        max-width : 25px;
    }

    .nav_l
    {
        padding : 0;
    }

    .nav_l a, .nav_r a
    {
        font-size : 12px;
    }

    .arrow_white, .arrow_white_second
    {
        width : 10px;
    }

    .search img
    {
        width : 15px;
    }

    .nav_r a img
    {
        width        : 25px;
        margin-right : 15px;
    }

    .nav_r
    {
        max-width : 245px;
    }

    .nav_r a
    {
        justify-content : center;
    }

    .header_menu
    {
        padding-left : 25px;
    }

    .header_menu ul li:nth-of-type(2)
    {
        padding-left : 40px;
    }

    .owl-carousel .owl-item .item_img .sign img
    {
        width : calc(100% - 5px);
    }

    .owl-carousel .owl-item .item_img img
    {
        width : calc(100% - 10px);
    }

    .sign
    {
        top : 0;
    }

    .sign_two
    {
        top : 30px;
    }

    .sign_three
    {
        top : 75px;
    }

    .sign_four
    {
        top : 120px;
    }

    .sign_six
    {
        top : 30px;
    }

    .footer_main ul:nth-of-type(5) li
    {
        padding-left : 35px;
    }

    .data_l
    {
        width : 60%;
    }

    .data_r
    {
        width : 40%;
    }

    .data_l ul:nth-of-type(1)
    {
        width : 60%;
    }

    .data_l ul:nth-of-type(2)
    {
        width : 40%;
    }
    #tabs .tab {
        margin-right : 8%;
    }
}
@media only screen and (max-width : 1060px)
{
.nav_r_long li a p {
    max-width: 82px;
}
    .sign_card {
        top: 100px;
    }
    .sign_card_second {
        top: 0;
        right: 8px;
    }
    .card_signs ul {
        min-width: 100px;
    }
    .card_img {
        padding : 0 30px 0 0;
    }
    #tabs .tab {
        margin-right : 6%;
    }
}
@media only screen and (max-width : 992px)
{
    .owl-carousel .owl-item .item_img img
    {
        width : auto;
    }

    .header_menu ul
    {
        flex-wrap : wrap;
    }

    header
    {
        height : auto;
    }

    .header_menu
    {
        height         : auto;
        padding-bottom : 5px;
    }

    .header_menu ul li:nth-of-type(1), .header_menu ul li:nth-of-type(2),
    .header_menu ul li:nth-of-type(3)
    {
        width   : 30%;
        padding : 5px 0 10px 0;
    }
    .header_menu ul li:nth-of-type(3) a {
        justify-content: flex-end;
    }

    .header_menu ul li:nth-of-type(1)
    {
        padding-left : 25px;
    }

    .header_menu ul li:nth-of-type(2)
    {
        width           : 350px;
        margin : 0 auto;
        justify-content : center;
        padding-left    : 0;
    }

    .header_menu ul li:nth-of-type(3)
    {
        margin : 0;
    }

    .header_menu ul .drop li:nth-of-type(1), .header_menu ul .drop li:nth-of-type(2),
    .header_menu ul .drop li:nth-of-type(3), .header_menu ul .drop li:nth-of-type(4)
    {
        width   : 100%;
        padding : 15px 0 15px 0;
    }

    .nav_l .tab_vision_three, .nav_l .tab_vision_four
    {
        display : none;
    }

    .item_price
    {
        padding   : 10px 0;
        font-size : 20px;
    }

    .item_price p
    {
        font-size : 20px;
    }

    .item_img
    {
        padding : 10px 0;
    }

    .footer_main ul li:nth-of-type(1)
    {
        font-size : 16px;
    }

    .footer_main ul:nth-of-type(4) li:nth-of-type(1) img
    {
        max-width : 150px;
    }

    .footer_main ul li
    {
        padding-top : 15px;
    }

    .footer_main ul:nth-of-type(4) li:nth-of-type(3)
    {
        padding-top : 25px;
    }

    .footer_main ul:nth-of-type(4) .social a img
    {
        max-height : 20px;
    }

    .social a
    {
        margin-left : 0;
    }

    .footer_main ul:nth-of-type(4) .social
    {
        justify-content : space-around;
    }

    .brands .item
    {
        margin : 0;
    }

    .categories .item
    {
        width : 33.3333%;
        flex  : 0 0 33.3333%;
    }

    .select_category p
    {
        padding : 5px;
    }

    .select_category p select
    {
        width : 150px;
    }

    .order_table .table .string li:nth-of-type(3)
    {
        width     : auto;
        min-width : 200px;
    }

    .order_table
    {
        font-size : 12px;
    }

    .number p
    {
        width : 45px;
    }

    .order_table .table .string li:nth-of-type(7),
    .order_table .table .string li:nth-of-type(8)
    {
        max-width : 80px;
    }

    .order_data
    {
        flex-direction : column;
    }

    .order_data .data_l, .order_data .data_r
    {
        width : 100%;
    }

    .data_l .comments
    {
        width : 50%;
    }

    .order_data .data_r
    {
        padding-top : 25px;
    }

    .order_data .data_r ul li
    {
        margin : 0;
    }

    .order_data .data_r
    {
        display         : flex;
        justify-content : space-between;
        flex-wrap       : wrap;
    }
    .nav_l_long {
        width: calc(100% - 245px);
    }
    .card_img img {
        max-width: 250px;
    }
    .card_discount {
        bottom: auto;
        top: 270px;
        left: 20px;
        width : 70px;
        height : 70px;
        font-size : 25px;
    }
    .card_info p:nth-of-type(1) a img {
        max-width: 120px;
    }
    .card_name {
        padding : 15px 0;
        font-size : 24px;
    }
    .card_price li:nth-of-type(1) {
        font-size : 30px;
    }
    .card_price li:nth-of-type(3) {
        font-size : 20px;
    }
    .card_price {
        max-width: 386px;
    }
    .sign_card {
        top: 60px;
        width : 50px;
    }
    .sign_card_second {
        top: 0;
        width : 40px;
        right: 5px;
    }
    .card_signs ul li {
        width : 50px;
    }
    .card_signs ul li img {
        width : 100%;
    }
    #tabs .tab {
        font-size : 14px;
        margin-right: 9%;
    }
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 960px)
{
    .nav_r
    {
        max-width : 200px;
    }

    .nav_l .tab_none
    {
        display : none;
    }

    .nav_l .tab_vision
    {
        display : flex;
    }

    .nav_l .arrow_menu
    {
        width : 15px;
    }

    .nav_l .search_tab
    {
        width : 250px;
    }

    .arrow_menu img
    {
        height : 25px;
    }

    .dropdown_menu, .nav_l .tab_vision_two
    {
        display : none;
    }

    .nav_r span:nth-of-type(1)
    {
        display : none;
    }

    .nav_r span:nth-of-type(2)
    {
        position    : relative;
        padding-top : 4px;
    }

    .nav_r span:nth-of-type(2):before
    {
        position         : absolute;
        display          : block;
        content          : '';
        top              : 2px;
        width            : 60px;
        height           : 1px;
        left             : calc(50% - 30px);
        background-color : rgb(254, 51, 54);
    }
    .nav_l_long {
        width : calc(100% - 200px);
    }
    #tabs .tab {
        margin-right: 8%;
    }
    .header_menu ul li:nth-of-type(1), .header_menu ul li:nth-of-type(3) {
        width : 29%;
    }
}


@media only screen and (max-width : 900px)
{
    .nav_l .tab_vision_two
    {
        display : block;
    }

    .nav_l .tab_none_two
    {
        display : none;
    }

    .menu_l li, .menu_r li
    {
        margin : 0;
    }

    .menu_l, .menu_r
    {
        justify-content : space-between;
    }

    .menu_l
    {
        width        : 65%;
        margin-right : 5%;
    }

    .menu_r
    {
        width       : 25%;
        margin-left : 5%;
    }

    .footer_main ul li:nth-of-type(1)
    {
        font-size      : 14px;
        padding-bottom : 0;
    }

    .footer_main ul:nth-of-type(5) li
    {
        padding-left : 20px;
    }
    #tabs .tab {
        margin-right: 7%;
    }
}


@media only screen and (max-width : 875px)
{
    .left_bar_first li, .left_bar_second li a
    {
        font-size : 11px;
    }

    .left_bar_first li input::-webkit-input-placeholder
    { /* Chrome/Opera/Safari */
        font-size : 11px;
    }

    .left_bar_first li input::-moz-placeholder
    { /* Firefox 19+ */
        font-size : 11px;
    }

    .left_bar_first li input:-ms-input-placeholder
    { /* IE 10+ */
        font-size : 11px;
    }

    .left_bar_first li input:-moz-placeholder
    { /* Firefox 18- */
        font-size : 11px;
    }

    .left_bar_second .hat
    {
        font-size : 12px;
    }

    .left_bar_second .hat img
    {
        height : 30%;
    }

    .left_bar
    {
        max-width : 170px;
    }

    .left_bar_first li, .slct_two, .slct_three, .slct_four, .slct_five, .slct_six, .left_bar_second li
    {
        height : 35px;
    }

    .hidden-menu-1 .left_bar_second li
    {
        height : auto;
    }

    .hidden-menu-1 .left_bar_second li:nth-of-type(1)
    {
        height : 40px;
    }

    .left_bar_first .inSize_width
    {
        padding : 0;
        height  : auto;
    }

    .left_bar_first li:nth-of-type(1) div p:nth-of-type(1) span:nth-of-type(1),
    .left_bar_first li:nth-of-type(1) div p:nth-of-type(2) span:nth-of-type(1)
    {
        display : none;
    }

    .left_bar_first li:nth-of-type(1)
    {
        justify-content : space-between;
    }

    .left_bar_first li:nth-of-type(1) p:nth-of-type(1) span:nth-of-type(2),
    .left_bar_first li:nth-of-type(1) p:nth-of-type(2) span:nth-of-type(2)
    {
        text-transform : capitalize;
    }

    .left_bar_first .switch_off
    {
        height  : 18px;
        width   : 30px;
        padding : 0 4px;
    }

    .left_bar_first .switch_off span
    {
        width  : 10px;
        height : 10px;
    }

    .main_bar
    {
        width : calc(100% - 170px);
    }

    .item_price p
    {
        font-size : 16px;
    }

    .order_table .table .string li:nth-of-type(3)
    {
        min-width : 175px;
    }

    .basket
    {
        width : 100%;
    }
    #tabs .tab {
        margin-right: 6%;
    }
    .header_menu ul li:nth-of-type(1), .header_menu ul li:nth-of-type(3) {
        width : 28%;
    }
}


@media only screen and (max-width : 845px)
{
    .nav_l .tab_vision_three
    {
        display : block;
    }

    .nav_l .tab_none_three
    {
        display : none;
    }

    .order_table .table .string li:nth-of-type(5)
    {
        min-width : 85px;
    }

    .order_table .table .string li:nth-of-type(3)
    {
        min-width : 150px;
    }
    #tabs .tab {
        margin-right: 5%;
    }
    .header_menu ul li:nth-of-type(1), .header_menu ul li:nth-of-type(3) {
        width : 26%;
    }
}

@media only screen and (max-width : 780px)
{
    .nav_l .tab_vision_three
    {
        display : block;
    }

    .nav_l .tab_none_three
    {
        display : none;
    }

    .nav_l .tab_vision_four
    {
        display : block;
    }

    .nav_l .tab_none_four
    {
        display : none;
    }
    .header_menu ul li:nth-of-type(1), .header_menu ul li:nth-of-type(3) {
        width : 25%;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
{
    .left_bar
    {
        display : none;
    }

    .main_bar
    {
        width : 100%;
    }

    .nav
    {
        display : none;
    }

    .mobile_view
    {
        flex-wrap : wrap;
    }

    .main_bar
    {
        padding-left : 0;
    }

    .mobileHat
    {
        width           : 100%;
        display         : flex;
        justify-content : space-between;
    }

    .mobileHat .mobileHat_r
    {
        margin-left     : 10px;
        width           : 100%;
        display         : flex;
        justify-content : space-between;
    }

    #fltr_open, #fltr_close
    {
        width     : 100%;
        max-width : 300px;

    }

    .mobile_filtr
    {
        position  : relative;
        width     : 100%;
        max-width : 300px;
    }

    #fltr_open .filtr_button, #fltr_close .filtr_button
    {
        width            : 100%;
        height           : 40px;
        display          : flex;
        align-items      : center;
        justify-content  : center;
        font-family      : Gilroy-Bold, serif;
        font-size        : 14px;
        color            : white;
        background-color : rgb(254, 51, 54);
    }

    #fltr_open .filtr_button img, #fltr_close .filtr_button img
    {
        margin-right : 10px;
    }

    .mobileHat .left_bar_first
    {
        position   : absolute;
        width      : 100%;
        padding    : 0 5px;
        background : white;
        z-index    : 5;

    }

    .mobileHat .left_bar_first .had_filtr
    {
        height     : 40px;
        margin     : 7px 0;
        background : white;
        font-size  : 16px;
        color      : rgb(254, 51, 54);
        border     : 1px solid rgb(254, 51, 54);
    }

    .mobileHat .left_bar_first .switch_off
    {
        background : rgb(254, 51, 54);
    }

    .mobileHat .left_bar_first .switch_off span
    {
        background : white;
    }

    .mobile_tyre
    {
        width     : 100%;
        max-width : 300px;
    }

    .mobile_tyre a
    {
        width           : 100%;
        height          : 40px;
        display         : flex;
        justify-content : space-around;
        align-items     : center;
        border          : solid 2px rgb(254, 51, 54);
        font-family     : Gilroy-Bold, serif;
        font-size       : 14px;
        color           : rgb(254, 51, 54);
    }

    .catalog-menu, .humburger
    {
        content     : " ";
        width       : 100%;
        min-width   : 50px;
        position    : relative;
        margin-left : auto;
        right       : 0;
    }

    .humburger
    {
        width       : 50px;
        display     : block;
        right       : auto;
        left        : 0;
        margin-left : 0;
    }

    .hidden-menu-1, .hidden-menu
    {
        display                     : block;
        position                    : absolute;
        list-style                  : none;
        margin                      : 0;
        box-sizing                  : border-box;
        width                       : 200px;
        background-color            : white;
        height                      : auto;
        top                         : 0;
        left                        : calc(100% + 15px);
        transition                  : left .2s;
        z-index                     : 5;
        -webkit-transform           : translateZ(0);
        -webkit-backface-visibility : hidden;
    }

    .hidden-menu
    {
        z-index : 7;
    }

    .hidden-menu
    {
        width  : 250px;
        left   : -265px;
        border : 1px solid black;
    }

    .hidden-menu li
    {
        padding     : 25px 15px;
        font-family : Gilroy-Bold, serif;
        font-size   : 16px;
    }

    .hidden-menu li:nth-of-type(1)
    {
        color            : white;
        background-color : rgb(254, 51, 54);
    }

    .hidden-menu li:nth-of-type(1) a
    {
        color : white;
    }

    .hidden-menu-1 ul li a,
    .hidden-menu ul li a
    {
        text-align : right;
    }

    .hidden-menu-ticker-1, .hidden-menu-ticker
    {
        display : none;
    }

    .btn-menu-1 .close-btn-1,
    .btn-menu .close-btn
    {
        text-align : right;
    }

    .btn-menu-1 .close-btn-2,
    .btn-menu .close-btn-second
    {
        display                     : none;
        padding                     : 5px;
        position                    : absolute;
        top                         : 15px;
        left                        : calc(100% - 25px);
        cursor                      : pointer;
        transition                  : left .23s;
        z-index                     : 6;
        width                       : 40px;
        -webkit-transform           : translateZ(0);
        -webkit-backface-visibility : hidden;
    }

    .btn-menu .close-btn-second
    {
        z-index : 8;
    }

    .btn-menu .close-btn-second
    {
        top  : 25px;
        left : 190px;
    }

    .btn-menu-1 .close-btn-2 span,
    .btn-menu .close-btn-second span
    {
        display          : block;
        height           : 2px;
        background-color : white;
        margin           : 5px 0 0;
        transition       : all .1s linear .23s;
        position         : relative;
    }

    .btn-menu-1 span.first-1,
    .btn-menu span.first
    {
        margin-top : 0;
    }

    .hidden-menu-ticker-1:checked ~ .btn-menu-1 .close-btn-1,
    .hidden-menu-ticker:checked ~ .btn-menu .close-btn
    {
        display : none;
    }

    .hidden-menu-ticker-1:checked ~ .btn-menu-1 .close-btn-2,
    .hidden-menu-ticker:checked ~ .btn-menu .close-btn-second
    {
        display : block;
    }

    .hidden-menu-ticker-1:checked ~ .hidden-menu-1
    {
        left : calc(100% - 185px);
    }

    .hidden-menu-ticker:checked ~ .hidden-menu
    {
        left : -15px;
    }

    .hidden-menu-ticker-1:checked ~ .btn-menu-1 span.first-1,
    .hidden-menu-ticker:checked ~ .btn-menu span.first
    {
        -webkit-transform : rotate(45deg);
        top               : 4px;
    }

    .hidden-menu-ticker-1:checked ~ .btn-menu-1 span.second-1,
    .hidden-menu-ticker:checked ~ .btn-menu span.second
    {
        opacity : 0;
    }

    .hidden-menu-ticker-1:checked ~ .btn-menu-1 span.third-1,
    .hidden-menu-ticker:checked ~ .btn-menu span.third
    {
        -webkit-transform : rotate(-45deg);
        top               : -10px;
    }

    .slct_three, .slct_four, .slct_five, .slct_six
    {
        height : auto;
    }

    .btn-menu-1 .close-btn-1 p img,
    .btn-menu .close-btn p img
    {
        position : relative;
        top      : 5px;
    }

    .btn-menu .close-btn p
    {
        text-align : left;
    }

    .menu_l
    {
        display : none;
    }

    .header_menu ul li:nth-of-type(1)
    {
        width : 30%;
    }

    .header_menu ul li:nth-of-type(2)
    {
        width           : 70%;
        justify-content: flex-end;
    }
    .header_menu ul li:nth-of-type(2) section {
        display: flex;
        align-items: center;
        position : relative;
        width : 350px;
    }

    .header_menu ul li:nth-of-type(3)
    {
        width          : auto;
        padding-bottom : 0;
    }

    .footer_main
    {
        flex-wrap : wrap;
    }

    .footer_main ul:nth-of-type(1),
    .footer_main ul:nth-of-type(2),
    .footer_main ul:nth-of-type(3)
    {
        width : 33%;
    }

    .footer_main ul:nth-of-type(2) li
    {
        display         : flex;
        justify-content : center;
    }

    .footer_main ul:nth-of-type(3) li
    {
        display         : flex;
        justify-content : flex-end;
    }

    .footer_main ul:nth-of-type(4),
    .footer_main ul:nth-of-type(5)
    {
        width : 100%;
    }

    .footer_main ul:nth-of-type(4)
    {
        display         : flex;
        flex-direction  : column;
        justify-content : center;
        padding-top     : 15px;
        align-items     : center;
    }

    .footer_main ul:nth-of-type(4) .social
    {
        width           : 100%;
        max-width       : 200px;
        justify-content : space-between;

    }

    .footer_main ul:nth-of-type(5)
    {
        padding-top     : 15px;
        display         : flex;
        justify-content : space-around;
    }

    .footer_main ul:nth-of-type(5) li
    {
        padding : 0;
    }

    .had_category
    {
        padding-top : 25px;
    }

    .title_second
    {
        padding-left : 0;
        margin-left  : 0;
    }

    .category_bar
    {
        padding-left : 0;
    }

    .table
    {
        display : none;
    }

    .table_mob
    {
        display     : block;
        padding-top : 15px;
        margin      : 0 auto;
    }

    .mobile_good li
    {
        max-width      : 530px;
        margin         : 0 auto;
        padding-bottom : 15px;
        display        : flex;
        align-items    : center;
        font-family    : Gilroy, serif;
        font-size      : 16px;
        color          : rgb(51, 51, 51);
    }

    .mobile_good li .mob_name
    {
        padding-left : 25px;
        font-family  : Gilroy-Bold, serif;
    }

    .mobile_good li .article
    {
        margin-left : auto;
    }

    .mobile_good li .mob_price
    {
        font-family  : Gilroy-Bold, serif;
        font-size    : 20px;
        padding-left : 15px;
    }

    .mobile_good li .number_mob
    {
        padding-top : 10px;
    }

    .mob_cost_wrap
    {
        margin-left : auto;
    }

    .mobile_good li .mob_good_title
    {
        font-size : 12px;
    }

    .mobile_good .mob_good_wrap
    {
        align-items : flex-start;
    }

    .mobile_good .mob_cost
    {
        padding-top : 10px;
        font-family : Gilroy-Bold, serif;
        font-size   : 20px;
    }

    .mobile_good .mob_good_other p
    {
        margin-right : 25px;
    }

    .mobile_good li .mob_discount,
    .mobile_good li .mob_bonus,
    .mobile_good li .mob_note
    {
        padding-top : 10px;
        text-align  : center;
    }

    .table_mob ul
    {
        margin-bottom : 15px;
        border-bottom : 1px solid rgb(51, 51, 51);
    }

    .table_mob ul:nth-last-of-type(1)
    {
        border : none;
    }

    .mobile_filtr_basket
    {
        max-width : 100%;
    }

    .mobile_filtr_basket #fltr_open, .mobile_filtr_basket #fltr_close
    {
        max-width : 100%;
    }

    .mobile_tyre_basket
    {
        margin-left : auto;
    }
    .order_data .data_l, .order_data .data_r{
        flex-direction: column;
    }
    .data_l ul:nth-of-type(1), .data_l ul:nth-of-type(2) {
        width : 100%;
    }
    .data_l .comments {
        width : 100%;
        max-width: 352px;
    }
    .order_data {
        max-width: 352px;
        padding-bottom : 35px;
    }
    .mobile_good .mob_extra_name {
        display: none;
    }
    .data_r ul .color_g {
        justify-content: flex-start;
    }
    .card .card_img {
        width: calc(100% - 70px);
        padding : 0;
        display: flex;
        justify-content: center;
        order: 0;
    }
    .sign_card {
        left : 0;
        right: auto;
    }
    .sign_card_second {
        left: 5px;
    }
    .card .card_signs {
        order: 1;
    }
    .card_signs ul {
        min-width: 70px;
        justify-content: flex-start;
    }
    .card_discount {
        left: calc(50% - 125px);
    }
    .card .card_info {
        order: 2;
        width : 100%;
        padding-top : 30px;
    }
    .card {
        flex-wrap: wrap;
    }
    .card_price {
        max-width: 100%;
        justify-content: space-between;
    }
    .card_price li:nth-of-type(-n+5) {
        margin : 0;
        padding : 0;
    }
    .card_data {
        padding-top : 20px;
    }
    #tabs .tab {
    margin-right: 0%;
}
}


@media only screen and (max-width : 625px)
{
    .mobile_tyre
    {
        max-width : 210px;
    }

    .mobile_tyre a
    {
        font-size : 12px;
    }

    #fltr_open .filtr_button, #fltr_close .filtr_button
    {
        font-size : 12px;
    }

    .categories .item
    {
        width : 50%;
        flex  : 0 0 50%;
    }

    .select_category p:nth-of-type(1)
    {
        display : none;
    }

    .select_category p:nth-of-type(2)
    {
        height        : 25px;
        border-radius : 5px;
    }
    .card_signs ul {
        min-width: 40px;
    }
    .card_signs ul li {
        width : 40px;
    }
    .card .card_img {
    width: calc(100% - 40px);
    }
    .card .card_img {
        padding-left : 40px;
    }
    .card .card_img img {
        width : 60%;
    }
    .sign_card {
        width : 30px;
        left : 0;
        right: auto;
        top: 40px;
    }
    .sign_card_second {
        top: 0;
        left: 3px;
        width : 25px;
    }
    .card_signs ul li {
        width : 30px;
    }
    .card_discount {
        left: 30%;
        top: auto;
        bottom: 0px;
    }
    .card_info p:nth-of-type(1) a img {
        max-width: 100px;
    }
    .card_name {
        font-size : 20px;
    }
    .card_price {
        max-width: 356px;
        justify-content: flex-start;
    }
    .card_price li:nth-of-type(2), .card_price li:nth-of-type(3) {
        margin-left: auto;
    }
    .card_price li:nth-of-type(4) {
        margin-right : 25px;
    }
    .card_price li:nth-of-type(4), .card_price li:nth-of-type(5) {
        padding-top : 15px;
    }
    .card_price li:nth-of-type(1) {
        font-size : 24px;
    }
    .card_price li:nth-of-type(3) {
        font-size : 20px;
    }
    #tabs {
        display: flex;
        flex-direction: column;
    }
    #tabs div:nth-of-type(1) {
        order: 0;
    }
    #tabs div:nth-of-type(2) {
        order: 2;
    }
    #tabs div:nth-of-type(3) {
        order: 4;
    }
    #tabs div:nth-of-type(4) {
        order: 6;
    }
    #tabs div:nth-of-type(5) {
        order: 8;
    }
    #tabs div:nth-of-type(6) {
        order: 1;
    }
    #tabs div:nth-of-type(7) {
        order: 3;
    }
    #tabs div:nth-of-type(8) {
        order: 5;
    }
    #tabs div:nth-of-type(9) {
        order: 7;
    }
    #tabs div:nth-of-type(10) {
        order: 9;
    }
}

@media only screen and (max-width : 550px)
{
    .mobile_tyre
    {
        max-width : 200px;
    }

    .mobile_tyre_basket
    {
        max-width : 100%;
    }

    .mobile_tyre_basket a
    {
        justify-content : center;
    }

    .mobile_tyre_basket a img
    {
        margin-right : 20px;
    }
{
    max-width : 200px;
}

    .mobileHat
    {
        flex-direction : column-reverse;
    }

    #fltr_open, #fltr_close
    {
        max-width : 100%;
    }

    .mobile_filtr
    {
        max-width : 100%;
    }

    .mobileHat .mobileHat_r
    {
        margin         : 0;
        padding-bottom : 10px;
    }

    .header_menu ul li:nth-of-type(2)
    {
        display : none;
    }

    .header_menu ul li:nth-of-type(3) a,
    .header_menu ul li:nth-of-type(6) a
    {
        justify-content : flex-end;
    }

    .header_menu ul li:nth-of-type(4),
    .header_menu ul li:nth-of-type(5),
    .header_menu ul li:nth-of-type(6)
    {
        width       : 33%;
        margin-left : 0;
        padding     : 0;
    }

    .header_menu ul li:nth-of-type(4) a
    {
        justify-content : flex-start;
    }

    .header_menu ul li:nth-of-type(5) a
    {
        justify-content : center;
    }

    .header_menu ul li:nth-of-type(1),
    .header_menu ul li:nth-of-type(3)
    {
        padding-left   : 0;
        padding-bottom : 20px;
        width          : 50%;
    }

    .menu_r
    {
        width : 50%;
    }
    .mob_name_none {
        display: none;
    }
    .mobile_good .mob_extra_name {
        display: block;
    }
    .mobile_good .mob_extra_name p {
        padding-left : 0;
        padding-top : 10px;
    }
}


@media only screen and (max-width : 500px)
{
    .footer_main
    {
        flex-direction : column;
        align-items    : center;
    }

    .footer_main ul
    {
        padding-bottom : 25px;
    }

    .footer_main ul:nth-of-type(1), .footer_main ul:nth-of-type(2), .footer_main ul:nth-of-type(3)
    {
        width : 100%;
    }

    .footer_main ul li
    {
        display         : flex;
        justify-content : center;
    }

    .footer_main ul:nth-of-type(3) li
    {
        justify-content : center;
    }

    .footer_main ul:nth-of-type(5)
    {
        flex-direction : column;
    }

    .footer_main ul:nth-of-type(5) li
    {
        padding-top : 15px;
    }

    .category_bar
    {
        width : 100%;
    }

    .had_category
    {
        flex-direction : column;
        align-items    : flex-start;
    }

    .select_category
    {
        padding-top : 20px;
    }

    .select_category p:nth-of-type(1)
    {
        display     : flex;
        height      : 25px;
        align-items : center;
    }

    .select_category p:nth-of-type(2)
    {
        border-radius : 0 5px 5px 0;
    }

    .categories .item
    {
        width     : 100%;
        flex      : 0 0 100%;
        max-width : 270px;
        margin    : 0 auto;
    }
    .promo input {
        width : 170px;
    }
    .card .card_img img {
        min-width: 168px;
    }
}


@media only screen and (max-width : 400px)
{
    .container
    {
        padding : 0 15px;
    }

    .header_menu
    {
        padding : 0 10px 15px 10px;
    }

    .header_menu ul li a
    {
        font-size : 10px;
    }

    .header_menu ul li a p
    {
        padding-left : 4px;
    }

    .header_menu ul li a img
    {
        max-height : 15px;
    }

    .header_menu ul li:nth-of-type(1) a img
    {
        max-height : 100%;
    }
    .card {
        margin-top : 30px;
    }
    .card_data {
        font-size : 13px;
    }
}
